//COLORS

$color-blue: #cae4cc;
// $color-darkblue: #478c9d;
$color-darkblue: #06acc2;
$color-pink: #f4d7e8;
$color-violet: #AC81D5;
$color-white: #ffffff;
$color-black: #2f2f2f;
$color-green: #71be91;
$color-yellow: #dab664;
$color-red: #e8867e;

//FONTS

$font-principal: 'Righteous', sans-serif;
$font-body: 'Josefin Sans', sans-serif; 