//ABOUT

.about {
    @include flex;
    @include sizes(100%, auto);
    &__body {
        @include flex;
        @include sizes(100%, auto);
        @include max-width;
        flex-wrap: nowrap;
        justify-items: center;
        gap: 4rem;
        padding: 0rem 15rem;
        &__text {
            @include sizes(90%, auto);
            min-width: 300px;
            h1 {
                color: var(--color__text__principal);
            }
            h2 {
                color: var(--color__text__principal);
            }
            p {
                color: var(--color__text__principal);
                font-weight: 400;
                font-size: 1.8rem;
                margin-bottom: 1rem;
            }
            .corner-button {
                font-size: 1.75rem;
                margin-top: 1rem;
                font-weight: 400;
            }
        }
        &__certifications {
            display: flex;
            justify-content: left;
            align-items: center;
            .table {
                width: 350px;
                color: var(--color__text__principal);
                border: 0.5rem solid var(--color__principal);
                box-shadow: $shadow;
                display: flex;
                flex-direction: column;
                padding: 1.5rem 1.5rem 1rem;
                border-radius: 1rem;
                gap: 0.5rem; 
                h2 {
                    margin-bottom: 0;
                }
                &__row {
                    display: flex;
                    gap: 0.5rem; 
                    margin-bottom: 0.5rem;
                    color: var(--color__text__principal);
                    &__data {
                        width: 5rem;
                        @include flex; 
                        flex-direction: column;
                        .data {
                            padding: 0;
                            p {
                                font-family: $font-body;
                                font-size: 1.2rem;
                                font-weight: bold;
                                margin-bottom: 0; 
                                padding: 0   
                            };  
                        }
                        .image {
                            padding: 0; 
                            height: 2.5rem;
                            img {
                                @include flex;
                                width: 2.3rem;
                                border-radius: 50%;
                            }    
                        }
                    }
                    &__description {
                        width: 100%; 
                        margin-top: 0.5rem;
                        .certificado {
                            padding: 0; 
                            p {
                                font-family: $font-body;
                                font-size: 1.5rem;
                                font-weight: 500; 
                                margin-bottom: 0;
                                padding: 0;  
                                gap: 0.5rem;
                                display: flex;
                            } 
                        }
                        .instituto {
                            display: flex;
                            align-items: center;
                            padding: 0; 
                            height: 2.5rem;
                            p {
                                font-family: $font-body;
                                font-size: 1.3rem; 
                                font-weight: 400;
                                margin-top: 0rem;
                                margin-bottom: 0;  
                            }
                        }
                    }        
                }
            }
            .table:hover {
                border: 0.5rem solid var(--color__secondary);
            }
        }
    }
}

//RESPONSIVES ABOUT

@media screen and (max-width: 1100px) {
    .about__body {
        padding: 0rem 12rem;
    }
}

@media screen and (max-width: 950px) {
    .about__body {
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    .about__body {
        padding: 0rem 8rem;
    }
}

@media screen and (max-width: 600px) {
    .about__body {
        padding: 0rem 7rem;
    }
}

@media screen and (max-width: 500px) {
    .about__body {
        padding: 0rem 6rem;
    }
}

@media screen and (max-width: 470px) {
    .about__body {
        padding: 0rem 5rem;
        &__certifications {
            .table {
                width: 300px;
                padding: 1.3rem 1.3rem 0.7rem;
                &__row__description {
                    .certificado, .instituto {
                        p {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .about__body {
        padding: 0rem 2rem;
        &__text {
            padding: 0rem 2rem;
            p {
                font-size: 1.6rem;
            }
            .corner-button {
                font-size: 1.5rem;
            }
        }
        &__certifications {
            .table {
                width: 280px;
                padding: 0.8rem 0.8rem 0.5rem;
            }
        }
    }
}

//MODE

// @media (prefers-color-scheme: light) {
//     .about {
//         &__body {
//             &__text {
//                 h1 {
//                     color: $color-black;
//                 }
//                 h2 {
//                     color: $color-black;
//                 }
//                 p {
//                     color: $color-black;
//                 }
//             }
//             &__certifications {
//                 .table {
//                     color: $color-black;
//                     border: 0.5rem solid $color-light-principal;
//                     &__row {
//                         color: $color-black;       
//                     }
//                 }
//                 .table:hover {
//                     border: 0.5rem solid $color-light-secondary;
//                 }
//             }
//         }
//     }
// }