//HOME

.home {
    @include flex;
    @include sizes(100%, 100vh);
    flex-direction: column;
    background-color: $color-black;
    padding-top: 3rem;
    &__container {
        display: grid;
        margin: 6rem 2rem 3rem;
        p {
            font-family: $font-principal;
            font-size: 5rem; 
            margin-bottom: 1rem;
        }
        &__1col {
            display: grid; 
            .span-2 {
                color: $color-green;
            }
            .span-3 {
                color: $color-white;
            }
            .span-4 {
                color: $color-violet; 
            }
            .span-6 {
                color: $color-darkblue;
            }
        }
        &__2col {
            display: grid;
            grid-template-columns: 1fr 6fr; 
            .span-1 {
                color: $color-red;
            }
            .span-5 {
                color: $color-yellow;
            }
        }    
    }
    &__button {
        border-radius: 1rem;
        background-color: $color-black;
        padding: 2rem;
        font-size: 10px;
        display: -webkit-box;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        min-height: 10vh;
        margin: 4rem 2rem 3rem;
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 4rem;
                margin-right: 0.5rem;
            }
        }
        .corner-button {
            font-family: $font-principal;
            letter-spacing: .02rem;
            cursor: pointer;
            background: transparent;
            border: 0.5rem solid currentColor;
            padding: 1rem 2rem;
            font-size: 2.2rem;
            color: $color-green;
            position: relative;
            -webkit-transition: color 0.3s;
            transition: color 0.3s;
            a {
                text-decoration: none;
                color: $color-green;                      
            }
        }
        .corner-button:hover {
            color: $color-red;
            a {
                color: $color-red;      
            }
        }
        .corner-button:hover::before {
            width: 0;
        }
        .corner-button:hover::after {
            height: 0;
        }
        .corner-button:active {
            border-width: 0.25rem;
        }
        .corner-button span {
            position: relative;
            z-index: 2;
        }
        .corner-button::before, .corner-button::after {
            content: '';
            position: absolute;
            background: $color-black;
            z-index: 1;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }
        .corner-button::before {
            width: calc(100% - 3rem);
            height: calc(101% + 1rem);
            top: -0.5rem;
            left: 50%;
            -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
        }
        .corner-button::after {
            height: calc(100% - 3rem);
            width: calc(101% + 1rem);
            left: -0.5rem;
            top: 50%;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
        }
    }
}
    
//RESPONSIVES HOME

@media screen and (max-width: 768px) {
    .home__container {
        p {
            font-size: 3rem;
        }
    }

    .home__button .corner-button {
        font-size: 1.75rem;
        padding: 1rem 1.8rem;
    }
}

@media screen and (max-width: 576px) {
    .home__container {
        p {
            font-size: 2.5rem;
        }
    }

    .home__button .corner-button {
        font-size: 1.5rem;
        padding: 1rem 1.8rem;
    } 
}

@media screen and (max-width: 430px) {
    .home__container {
        p {
            font-size: 2rem;
        }
    }

    .home__button .corner-button {
        font-size: 1.3rem;
        padding: 0.8rem 1.5rem;
    } 
}  