//SKILLS

.skills {
    @include flex;
    flex-direction: column;
    width: 100%;
    background-color: $color-black;
    &__title {
        @include flex;
        margin: 2rem 0;
        h1 {
            color: $color-white;
        }
    }
    &__logos {
        @include sizes(60vw, auto);
        // @include max;
        white-space: nowrap;
        margin-bottom: 4rem;
        overflow: hidden;
        background-color: $color-white;
        box-shadow: $shadow;
        border-radius: 1rem;
        &__slider {
            display: inline-flex;
            @include sizes(auto, auto);
            padding: 2rem 0;
            animation: scroll 40s linear infinite;
            -webkit-animation: scroll 40s linear infinite;
            .skill {
                display: flex;
                justify-content: space-around;
                align-items: center;
                @include sizes(65px, 10rem);
                flex-direction: column;
                margin: 0 2rem;
                img {
                    width: 5.5rem;
                    margin: 1rem;
                }
                p {
                    font-size: 1.5rem;
                    margin-bottom: 0;
                }    
            }
        }
    }
}

//KEYFRAMES SKILLS

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-100%));
        transform: translateX(calc(-100%));
    }
}

//RESPONSIVES SKILLS

@media screen and (max-width: 768px) {
    .skill {
        p {
            font-size: 1.35rem;
        };
    }
}