//PROJECTS

.projects {
    @include flex;
    flex-direction: column;
    width: 100%;
    background-color: $color-black;
    &__title {
        margin-top: 2rem;
        h1 {
            color: $color-white;
        }
    }
    &__container {
        @include flex;
        @include max-width;
        width: 90%;
        flex-wrap: wrap;
        margin: 3rem 0;
        gap: 3rem;
        .item {
            @include sizes(30rem, 45rem);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            padding: 2.5rem;
            background-color: $color-blue;
            border-radius: 1rem;
            img {
                width: 100%;
            }
            h3 {
                margin: 1rem 0;
                font-weight: bold;
            }
            &__btn {
                @include flex;
                flex-wrap: nowrap;
                gap: 1rem;
                margin-bottom: 1rem;
                button {
                    border: 0.1px solid $color-black;
                    border-radius: 1rem;
                    padding: 0.2rem 0.5rem;
                    cursor: default;
                }
            }
            &__code {
                @include flex;
                flex-wrap: nowrap;
                gap: 1rem;
                margin-bottom: 1rem;
                button {
                    background-color: $color-darkblue;
                    font-size: 1.25rem;
                    font-weight: bold;
                    border-radius: 1.75rem;
                    padding: 0.75rem 2rem;
                    border: none;
                    a {
                        color: $color-white;
                        text-decoration: none;
                    }
                }
            }
        }
        .item:hover {
            transform: scale(1.05);
        }
    }
}

//RESPONSIVES PROJECTS

@media screen and (max-width: 768px) {
    .projects__container {
        .item {
            @include sizes(27rem, 40rem);
            p {
                font-size: 1.35rem;
            };
        }
    }
}