//ESTILOS GENERALES

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

html {
    font-size: 62.5%;
    font-family: $font-body; 
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color__bg); 
}

.point {
    font-family: $font-principal;
    font-weight: 900;
    color: var(--color__principal); 
}

.point:hover {
    color: var(--color__secondary); 
}

h1 {
    font-size: 5.5rem; 
    margin-bottom: 0.5rem;
    font-family: $font-principal; 
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: $font-principal; 
}

h3 {
    font-size: 1.75rem;
    font-family: $font-body; 
}

a {
    text-decoration: none; 
}

p {
    font-size: 1.5rem;
    font-family: $font-body; 
}

.ti {
    margin-right: 0.75rem;
    margin-left: 0.75rem; 
} 

.corner-button {
    font-family: $font-principal;
    font-weight: 300;
    letter-spacing: .02rem;
    cursor: pointer;
    background: transparent;
    border: 0.5rem solid currentColor;
    border-radius: 1rem;
    padding: 1rem 2rem;
    color: var(--color__principal);
    position: relative;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        position: relative;
        z-index: 2; 
    }
    &:hover {
        color: var(--color__secondary);
        a {
            color: var(--color__secondary); 
        }
        &::before {
            width: 0; 
        }
        &::after {
            height: 0; 
        }
    }
    &:active {
        border-width: 0.25rem; 
    }
    &::before {
        content: '';
        position: absolute;
        background: var(--color__bg);
        z-index: 1;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        width: calc(100% - 3rem);
        height: calc(101% + 1rem);
        top: -0.5rem;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%); 
    }
    &::after {
        content: '';
        position: absolute;
        background: var(--color__bg);
        z-index: 1;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        height: calc(100% - 3rem);
        width: calc(101% + 1rem);
        left: -0.5rem;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%); 
    }
}

//RESPONSIVES GENERALES

@media screen and (max-width: 600px) {
    h1 {
        font-size: 4rem; 
        margin-bottom: 0.5rem; 
    }
    h2 {
        font-size: 2rem;
        margin-bottom: 1rem; 
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 3.5rem; 
        margin-bottom: 0.5rem; 
    }
    h2 {
        font-size: 2rem;
        margin-bottom: 1rem; 
    }
}

//MODE GENERALES

// @media (prefers-color-scheme: light) {
//     body {
//         background-color: $color-bg-light;    
//     }
//     .point {
//         color: $color-light-principal;
//     }
//     .point:hover {
//         color: $color-light-secondary;
//     }
//     .corner-button {
//         color: $color-light-principal;
//         &:hover {
//             color: $color-light-secondary;
//             a {
//                 color: $color-light-secondary;      
//             }
//         }
//         &::before {
//             background: $color-bg-light;
//         }
//         &::after {
//             background: $color-bg-light;
//         }
//     }
// }